<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @produto.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produto.price %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
